
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Education
  </h2>


  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">순천대학교</h3>
      </div><!--//upper-row-->

      <div class="company">학사, 졸업</div>

    </div><!--//meta-->

  </div><!--//item-->

  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">야탑고등학교</h3>
      </div><!--//upper-row-->

      <div class="company">졸업</div>

    </div><!--//meta-->

  </div><!--//item-->
  

</section><!--//section-->


