<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Interest
  </h2>

  <div class="intro">
      <p>어떤 일 이던</p>
  </div><!--//intro-->

    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h3 class="project-title">

            <img class="fit-picture"
              width="14%" height="100%"
              src="{{ site.baseurl }}/assets/images/hobby1.jpeg">

            <img class="fit-picture"
              width="14%" height="100%"
              src="{{ site.baseurl }}/assets/images/hobby2.jpeg">

            <img class="fit-picture"
              width="14%" height="100%"
              src="{{ site.baseurl }}/assets/images/hobby3.jpeg">

            <img class="fit-picture"
              width="14%" height="100%"
              src="{{ site.baseurl }}/assets/images/hobby4.jpeg">

          </h3>
          
        </div><!--//upper-row-->

      </div><!--//meta-->

        <b>낚시</b>

        <div class="company">낚시 설명</div><br>

    </div><!--//item-->


</section><!--//section-->
