<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Interest
  </h2>

  <div class="intro">
    <div class="company"><i>저는 업무를 위한 에너지를 충전하기 위해 이런 활동으로 쌓인 스트레스를 해소하고 긍정적인 에너지를 충전하고 있습니다.
      <br><b>어떤 일을 오랫동안 꾸준히 즐긴다는 것은 어떤 의미로든 분명히 좋을 것 이라고 생각합니다.</b></i></div>
  </div><!--//intro-->

    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h3 class="project-title">

            <img class="fit-picture"
              width="16%" height="100%"
              src="{{ site.baseurl }}/assets/images/hobby4.jpeg">

            <img class="fit-picture"
              width="16%" height="100%"
              src="{{ site.baseurl }}/assets/images/hobby1.jpeg">

            <img class="fit-picture"
              width="16%" height="100%"
              src="{{ site.baseurl }}/assets/images/hobby2.jpeg">

            <img class="fit-picture"
              width="16%" height="100%"
              src="{{ site.baseurl }}/assets/images/hobby5.jpeg">

            <img class="fit-picture"
              width="16%" height="100%"
              src="{{ site.baseurl }}/assets/images/hobby3.jpeg">

          </h3>
          
        </div><!--//upper-row-->

      </div><!--//meta-->

        <br><b>세월을 낚다, "낚시"</b>

        <div class="company">어릴적 아버지를 따라 갈때는 그렇게 싫던 것이 지금은 왜 이렇게 빠져 버렸는지 모르겠습니다, 가끔 머릿속이 복잡할 때 에는 혼자 떠나 머리도 식히고 생각도 정리할 목적으로 다녀오곤 합니다.</div>

        <b>맞고 다니진 말자, "MMA, 주짓수"</b>

        <div class="company">부모님에게 귀가 닳도록 들었습니다, '또 맞았니? 맞고 다니지 말라'. 늦은 나이에 철 없이 맞고다니기 싫어 시작한 스포츠를 꽤 오래 지속 하다보니 이제는 스트레스 해소의 가장큰 분출구가 되어 버렸습니다.</div><br>



    </div><!--//item-->


</section><!--//section-->
